<script>
  import WebComponent from "web-component-base";

  type PropertyChange = {
    property: string;
    previousValue: any;
    currentValue: any;
  };

  class HelloWorld extends WebComponent {
    name = "World";
    static properties = ["name", "emotion"];

    onInit() {
      this.onclick = () => {
        this.name = "Web Components";
        this.render();
      }
    }

    get template() {
      return `<h1>Hello ${this.name}!</h1>`;
    }
  }

  customElements.define("hello-world", HelloWorld);
</script>
