---
import Serialize from "@ayco/astro-resume";
import HelloWorld from "../client-components/hello-world.astro";
const someData = {
  hello: 'world'
}
export type SomeData = typeof someData;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WC Base Test</title>
  </head>
  <body>
    <Serialize data={someData} id="app-config" />
    <HelloWorld name="wuhoooo" />
    <script>
      const helloWorld = document.querySelector("hello-world");
      setTimeout(() => {
        helloWorld.setAttribute("name", "do you need more time?");
      }, 2500);
    </script>
  </body>
</html>
